@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model int
@{
    ViewData["Title"] = "Sing";
}

<h2>Singing about @ViewBag.NumberOfMonkeys little monkeys...</h2>

@if (ViewBag.NumberOfMonkeys > 0)
{
    for (int i = ViewBag.NumberOfMonkeys; i > 0; i--)
    {
        <p>@i little monkeys jumping on the bed...</p>
    }
}
else
{
    <p>No more monkeys jumping on the bed!</p>
}

<a href="@Url.Action("SongForm", "Home")" class="btn btn-primary">Play Again</a>