@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model int
@{
    ViewData["Title"] = "Sing";
    var numMonkeys = Model;
    var pronoun = "he";
}

<h2>Singing about @numMonkeys little monkeys...</h2>

@for (int i = numMonkeys; i > 0; i--)
{
    if (i % 2 == 0)
    {
        pronoun = "she";
    }
    else
    {
        pronoun = "he";
    }

    if (i == 1)
    {
        <p>One little monkey jumping on the bed,</p>
        <p>he fell off and bumped his head,</p>
    }
    else
    {
        <p>@i little monkeys jumping on the bed,</p>
        <p>one fell off and bumped @pronoun head,</p>
    }

    if (i > 1)
    {
        <p>Mama called the doctor and the doctor said,</p>
        <p>"No more monkeys jumping on the bed!"</p>
    }
    else
    {
        <p>Mama called the doctor and the doctor said,</p>
        <p>"No more monkeys jumping on the bed!"</p>
    }
}

<p>No more monkeys jumping on the bed!</p>

<form asp-action="SongForm" method="get">
    <button type="submit" class="btn btn-primary">Play Again</button>
</form>

